<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Bug tracker</title>
    <!--
        Use cases
        1) Display a list of bugs - done
        2) Add a new bug - done
        3) Toggle the 'closed' status of the bug
        4) Remove closed bugs
        5) Display stats (close $ / total #)
        6) Search bugs
        7) Sort the bugs
        8) Limit the size of the bug text
        9) Persist the bugs in local storage
        10) Display when the bugs were created
        11) Persist the bugs inthe server
        
        12) Create and manage projects
    -->
    <style>
        .closed {
            color: red;
            text-decoration: line-through;
            font-weight: bold;
            font-style: italic;
        }
        li {
            cursor: pointer;
        }
    </style>
    <script src="../assets/scripts/angular.min.js"></script>
    <script>
        var bugTracker = angular.module('BugTracker', []);
        bugTracker.controller('BugsController', function($scope){
            $scope.bugs = [
                { title: 'authentication fails', isClosed: false },
                { title: 'header layout breaks', isClosed: true },
                { title: 'marketing carousal missing', isClosed: false }
            ];
            //$scope.newBug = '';
            $scope.addBug = function(newBugTitle){
                //$scope.bugs.push($scope.newBugnewBugTitle);
                $scope.bugs.push(newBugTitle);
                $scope.newBug = '';
            }
            $scope.toggleBug = function(bug){
                bug.isClosed = !bug.isClosed;
            }
        });
    </script>
</head>
<body ng-app="BugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="BugsController">
        <div class="status">
            <span class="closed"></span>
            <span class="delimit">/</span>
            <span>{{bugs.length}}</span>
        </div>
        <div class="search"></div>
        <div class="bugsList">
            <label for="">Bugs :</label>
            <input type="text" name="" id="" ng-model="newBug">
            <input type="button" ng-click="addBug(newBug) " value="Add Bug">
            <input type="button" value="Remove Closed">
            <ol>
                <li ng-class="{closed: bug.isClosed}" ng-repeat="bug in bugs" ng-click="toggleBug(bug);">{{bug}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
