 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Bug tracker</title>
    <!--
        Use cases
        1) Display a list of bugs - done
        2) Add a new bug - done
        3) Toggle the 'closed' status of the bug - done
        4) Remove closed bugs - done
        5) Display stats (close $ / total #) - done
        6) Search bugs - done
        7) Sort the bugs - done
        8) Limit the size of the bug text - done
        9) Persist the bugs in local storage
        10) Display when the bugs were created
        11) Persist the bugs inthe server
        
        12) Create and manage projects

        local storage
        =============
        - setItem(key, value)
        - getItem(key) => value
        - removeItem(key)
        - key(index) => key
        - clear()
        - length

        angular.toJson(obj) => str
        angular.fromJson(str) => obj
    -->
    <style>
        .closed {
            color: red;
            text-decoration: line-through;
            font-weight: bold;
            font-style: italic;
        }
        li {
            cursor: pointer;
        }
        div {
            margin: 10px
        }
    </style>
    <script src="../assets/scripts/angular.min.js"></script>
    <script>
        var bugTracker = angular.module('BugTracker', []);

        // If not wrapped inside factory, class Bug will be in global scope
        bugTracker.factory('Bug', function(){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.title = defaults.title || '';
                this.isClosed = defaults.isClosed || false;
                this.createdAt = defaults.createdAt || new Date();
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

        // class definition
        function BugStorage(){
            this.currentBugId = 0;
            this.save = function saveBugToStorage(bug){
                if(!bug.id) {
                    bug.id = ++this.currentBugId;
                }
                localStorage.setItem(bug.id, JSON.stringify(bug));
            }
            this.remove = function removeBugFromStorage(bug) {
                localStorage.removeItem(bug.id);
            }
            this.getAll = function getAllBugsFromStorage(){
                var result = [],
                    key, dataItem, bug;
                for(var i=localStorage.length-1;i>=0;i--) {
                    key = localStorage.key(i);
                    dataItem = localStorage.getItem(key);
                    bug = new Bug(JSON.parse(dataItem));
                    if(this.currentBugId < bug.id) this.currentBugId = bug.id;
                    result.push(bug);
                }
                return result;
            }
        }

        // new class for handling storage related
        // immediately invoking function
        var bugStorage = new BugStorage();

        bugTracker.controller('BugsController', function($scope){

            $scope.bugs = bugStorage.getAll();
            //$scope.bugs = getAllBugsFromStorage();
            $scope.addBug = function(newBugTitle){
                var newBug = new Bug ({
                    title: newBugTitle,
                    isClosed: false
                });
                bugStorage.save(newBug);
                //saveBugToStorage(newBug);
                $scope.bugs.push(newBug);
                $scope.newBug = '';
            }
            $scope.toggleBug = function(bug){
                //bug.isClosed = !bug.isClosed;
                bug.toggle();
                bugStorage.save(bug);
                //saveBugToStorage(bug);
            }
            $scope.removeClosed = function() {
                for(var i=$scope.bugs.length-1;i>=0;i--) {
                    bug = $scope.bugs[i];
                    if(bug.isClosed) {
                        //removeBugFromStorage(bug);
                        bugStorage.remove(bug);
                        $scope.bugs.splice(i,1);
                    }
                }
            }
        });

        bugTracker.filter('limitText', function(){
            return function(data, limitLength){
                limitLength = limitLength || 20;
                return (data.length > limitLength) ? data.substr(0, limitLength)+'...' : data;
            }
        });

    </script>
</head>
<body ng-app="BugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="BugsController">
        Bug text limit(filter): <input type="range" min="0" max="100" ng-model="limitTextLength" />
        <div class="status">
            <span class="closed">{{ (bugs | filter:{isClosed:true}).length }}</span>
            <span class="delimit">/</span>
            <span>{{bugs.length}}</span>
        </div>
        <div class="search">
           <label for="">Search:</label>
            <input type="text" ng-model="searchBug.title" />
            isClosed: <input type="checkbox" ng-model="searchBug.isClosed" />
            <input type="button" value="Display All" ng-click="searchBug.isClosed = undefined" />
        </div>
        <div class="sort">
            <label for="">Sort By:</label>
            <input type="text" name="" id="" ng-model="sortBug.attrName">
            isDescending: <input type="checkbox" ng-model="sortBug.isDescending" />
        </div>

        <div class="bugsList">
            <label for="">Bugs :</label>
            <input type="text" name="" id="" ng-model="newBug">
            <input type="button" ng-click="addBug(newBug) " value="Add Bug">
            <input ng-click="removeClosed()" type="button" value="Remove Closed">
            <ol>
                <li ng-class="{closed: bug.isClosed}" ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBug.attrName:sortBug.isDescending" ng-click="toggleBug(bug);">{{bug.title | limitText:limitTextLength}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
